/* Global CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Ensure consistent box sizing */
  user-select: none; /* Disable text selection */
}

/* Styling for buttons */
button {
  position: absolute; /* Absolute positioning */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Centering using transform */
  height: 4rem; /* Button height */
  width: 10rem; /* Button width */
  font-size: 1.5rem; /* Font size */
  border-radius: 5px; /* Border radius */
  border: none; /* Remove border */
  box-shadow: 1px 1px 5px black; /* Box shadow */
  color: #fff; /* Text color */
  background: #000; /* Background color */
  cursor: pointer; /* Cursor style */
}

/* Styling for the "Yes" button */
#yes-button {
  margin: 0 10px; /* Margin */
  color: white; /* Text color */
  border: none; /* Remove border */
  background-color: green; /* Background color */
  cursor: pointer; /* Cursor style */
  height: 40px; /* Button height */

  /* Nested styling for paragraph inside button */
  p {
      margin: 0; /* Remove paragraph margin */
      object-fit: contain; /* Adjust content to fit container */
  }
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
  body {
      padding: 0 20px; /* Add padding to body */
  }
}

/* Styling for the main container */
.container {
  display: flex; /* Flex container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Arrange items in a column */
  margin-top: 20px; /* Margin from the top */
  padding: 20px; /* Padding */
  text-align: center; /* Center align text */
}

/* Styling for message */
.message {
  display: none; /* Initially hidden */
}

/* Styling for banner GIF */
.banner-gif {
  width: 100%; /* Full width */
  height: auto; /* Maintain aspect ratio */
  margin-top: -400px; /* Negative margin for positioning */

  /* Nested styling for images inside banner-gif */
  img {
      width: auto; /* Auto width */
      height: 250px; /* Fixed height */
  }
}

/* Styling for creator link */
.creator {
  text-decoration: none; /* Remove underline */
  color: #333; /* Text color */

  /* Styling for visited link */
  &:visited {
    text-decoration: none; /* Remove underline */
    color: #333; /* Text color */
  }

  /* Hover effect */
  &:hover {
    text-decoration: underline; /* Underline on hover */
    color: #555; /* Text color */
  }
}
